# vscode
.vscode/

# Database
db.sqlite3

# __pycache__
core/__pycache__/
auth_app/__pycache__/
auth_app/api/__pycache__/
auth_app/migrations/
quiz_app/__pycache__/
quiz_app/api/__pycache__/
quiz_app/migrations/

# Python virtual environments
env/